<a href="https://colab.research.google.com/github/Gaurav7004/deep_learning_study/blob/master/Automating_DataScience_upto_handling%20_missing_values_statistically.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Importing libraries

import sys
import os
import pandas as pd
import numpy as np

# Libraries for handling data_preprocessing

from numpy import nan
from pandas import read_csv
from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import KNNImputer
from sklearn.pipeline import Pipeline

In [ ]:
# This module takes path of any random dataset from the user

class User_Input():
  # Taking File Path as input from the user
  user_input = input("Enter the path of your file: ")

  # The assert keyword lets you test if a condition in your code returns True, if not, the program will raise an AssertionError.
  assert os.path.exists(user_input), " did not find the file at, "+str(user_input)
  user_file = open(user_input,'r+')

  print(" found the file !")

  for fp in user_file:
      # Split the extension from the path and normalise it to lowercase.
      ext = os.path.splitext(fp)[-1].lower().suffix()

      # For handling breakdown in case of any errors
      try:
        # Now we can simply use .endswith to check for equality, no need for wildcards.
        # For handling csv files
        if ext.endswith('.csv'):
            df = pd.read_csv(user_input)

        # For handling excel files
        elif ext.endswith('.xlsx'):
            df = pd.read_excel()

        # For handling json files
        elif ext.endswith('.json'):
            df = pd.read_json(user_input)

        # For handing unknown files types
        else:
            print( fp,"is an unknown file format.")
            break

      # to handle the situation if try block gets failed
      except:
          pass

  user_file.close()

In [4]:
# dummy for testing only csv files
df = pd.read_csv('titanic.csv')
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [16]:
# # handling missing values
# class handling_missing_data():

#   # Imputation
#   # Handling columns which have null values
  
#   for col in df.columns.values:

#     if (pd.DataFrame(df).astype(pd.Series([np.integer]))):

#       df = df.select_dtypes(include=[np.integer]).fillna(df.select_dtypes(include=[np.integer]).mean().iloc[0], inplace=True)
  
#     elif (pd.DataFrame(df).astype(pd.Series([object, str]))):
        
#       df = df.select_dtypes(include=['object', 'str']).fillna(df.select_dtypes(include=['object', 'str']).mode().iloc[0], inplace=True)

#   print(df.head())

In [10]:
# handling missing values
class handling_missing_data():

  # Imputation
  # Handling columns which have null values

  # Select number columns.
  selectNum == df.select_dtypes('number')
  # Fill numeric columns with mean.
  df[selectNum.columns] = selectNum.fillna(selectNum.mean())

  # Select string and object columns.
  selectObj == df.select_dtypes('object')
  # Fill object columns with mode.
  df[selectObj.columns] = selectObj.fillna(selectObj.agg(lambda x: x.mode().values[0]))

In [15]:

if (df.isnull == False):
  pass
else :
  print('All the values in columns are not handled properly')

All the values in columns are not handled properly

In [ ]:
# handling feature scaling
class feature_scaling():
  def standardization():

  def mean_normalization():

  def min_max_scaling():

  def unit_vectorization():

In [ ]:
# handling feature engineering
class feature_engineering():
  # nominal encoding of data points
  def nominal_encoding():
    def one_hot_encoding():

    def one_hot_encoding_with_many_categories():

    def mean_encoding():

  # ordinal encoding of data points
  def ordinal_encoding():
    def label_encoding():

    def target_guided_ordinal_encoding():

In [ ]:
cd content/sample_data/california_housing_test.csv

/content

In [ ]:
ls

sample_data/  Students.xlsx  titanic.csv

In [ ]:
cd sample_data/california_housing_test.csv

/content/sample_data

In [ ]:
ls

anscombe.json*                mnist_test.csv
california_housing_test.csv   mnist_train_small.csv
california_housing_train.csv  README.md*